body{
  background-color: #3F93E7;
  width: 100%;
  margin: 0;
}

.container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
}

.bouton{
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #65C470;
  width: 320px;
  border: 2px solid #76b87d;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bouton:hover{
  background-color: #76b87d;
  border: 2px solid #65C470;
}

p{
  text-align: center;
  color: white;

}
.mdp p, .mdp a{
  color: grey;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 40px;
}

.formulaire{
  width: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.formulaire input{
  width: 320px;
  border: 2px solid lightgrey;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  display: block;
  float: left;
}

.formulaire legend{
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}

.formulaire label {
  display: block;
  margin-bottom: 5px;
  padding: 15px;
  font-weight: bold;
  float:left;
  margin-left: 10;
}

.formulaire fieldset{
  border: none;
}

.form{
  margin: 0;
}

.logIn a{
  color: white;
}

.formulaire input::placeholder {
  color: grey;
  font-size: 16px;
}
